<div class="date-picker">

</div>

<div class="table-container">
  <h1>DDTL</h1>
  <mat-form-field style="margin-left: 3%;">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date" #dateRangeStart>
      <input matEndDate placeholder="End date" #dateRangeEnd (dateChange)="applyFilter(dateRangeStart, dateRangeEnd)">
    </mat-date-range-input>
    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field class="example-full-width" style="margin-left: 62%;">
    <mat-label>Search</mat-label>
    <input #searchInput matInput (input)="search(searchInput)">
  </mat-form-field>

  <table mat-table class="mat-elevation-z8" [dataSource]="FilteredData">
    <ng-container matColumnDef="BorrowerName">
      <th mat-header-cell *matHeaderCellDef> Borrower Name </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.BorrowerName}} </td>
    </ng-container>
    <ng-container matColumnDef="EffectiveDate">
      <th mat-header-cell *matHeaderCellDef> Effective Date </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.EffectiveDate}} </td>
    </ng-container>

    <ng-container matColumnDef="ContractId">
      <th mat-header-cell *matHeaderCellDef> Contract Id </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.ContractId}} </td>
    </ng-container>
    <ng-container matColumnDef="Currency">
      <th mat-header-cell *matHeaderCellDef> Currency </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.Currency}} </td>
    </ng-container>
    <ng-container matColumnDef="YourShare">
      <th mat-header-cell *matHeaderCellDef> Your Share </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.YourShare}} </td>
    </ng-container>
    <ng-container matColumnDef="GlobalLoanAmount">
      <th mat-header-cell *matHeaderCellDef> Global Loan Amount </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.GlobalLoanAmount}} </td>
    </ng-container>
    <ng-container matColumnDef="AllInRate">
      <th mat-header-cell *matHeaderCellDef> All-In-Rate </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.AllInRate}} </td>
    </ng-container>
    <ng-container matColumnDef="SpreadOrFloor">
      <th mat-header-cell *matHeaderCellDef> Spread Or Floor </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.SpreadOrFloor}} </td>
    </ng-container>
    <ng-container matColumnDef="BaseRate">
      <th mat-header-cell *matHeaderCellDef> Base Rate </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.BaseRate}} </td>
    </ng-container>
    <ng-container matColumnDef="StartDate">
      <th mat-header-cell *matHeaderCellDef> Start Date </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.StartDate}} </td>
    </ng-container>
    <ng-container matColumnDef="EndDate">
      <th mat-header-cell *matHeaderCellDef> End Date </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.EndDate}} </td>
    </ng-container>
    <ng-container matColumnDef="RemittanceAmount">
      <th mat-header-cell *matHeaderCellDef> Remittance Amount </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.RemittanceAmount}} </td>
    </ng-container>
    <ng-container matColumnDef="IntermediaryBank">
      <th mat-header-cell *matHeaderCellDef> Intermediary Bank </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.IntermediaryBank}} </td>
    </ng-container>
    <ng-container matColumnDef="IntermediarySWIFT">
      <th mat-header-cell *matHeaderCellDef> Intermediary SWIFT </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.IntermediarySWIFT}} </td>
    </ng-container>
    <ng-container matColumnDef="IntermAcctNumber">
      <th mat-header-cell *matHeaderCellDef> Interm Account Number </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.IntermAcctNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="BenificiarySWIFT">
      <th mat-header-cell *matHeaderCellDef> Benificiary SWIFT </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.BenificiarySWIFT}} </td>
    </ng-container>
    <ng-container matColumnDef="IBAN">
      <th mat-header-cell *matHeaderCellDef> IBAN </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.IBAN}} </td>
    </ng-container>
    <ng-container matColumnDef="BeneficiaryBank">
      <th mat-header-cell *matHeaderCellDef> Beneficiary Bank </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.BeneficiaryBank}} </td>
    </ng-container>
    <ng-container matColumnDef="ABAOrRoutingNo">
      <th mat-header-cell *matHeaderCellDef> ABA Or RoutingNo </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.ABAOrRoutingNo}} </td>
    </ng-container>
    <ng-container matColumnDef="BeneficiaryAccountName">
      <th mat-header-cell *matHeaderCellDef> Beneficiary Account Name </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.BeneficiaryAccountName}} </td>
    </ng-container>
    <ng-container matColumnDef="BeneficiaryAccountNumber">
      <th mat-header-cell *matHeaderCellDef> Beneficiary Account Number </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.BeneficiaryAccountNumber}} </td>
    </ng-container>
    <ng-container matColumnDef="ReferenceOrRef">
      <th mat-header-cell *matHeaderCellDef> Reference Or Ref </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.ReferenceOrRef}} </td>
    </ng-container>
    <ng-container matColumnDef="AuditConfirmationsContact">
      <th mat-header-cell *matHeaderCellDef> Audit Confirmations Contact</th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.AuditConfirmationsContact}} </td>
    </ng-container>
    <ng-container matColumnDef="ContactInformation">
      <th mat-header-cell *matHeaderCellDef> Contact Information </th>
      <td mat-cell *matCellDef="let ELEMENT_DATA"> {{ELEMENT_DATA.ContactInformation}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row *matRowDef=" let row; columns: displayedColumns;"></tr>
  </table>

</div>